html {
  box-sizing: border-box;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-height: 500px;
  margin: 0;
}

span {
  background: rgba(0, 0, 0, .5);
}

h2 {
  font-size: 4rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: .5em;
  line-height: 1.5;
}

div img .img-flex {
  display: block;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  margin: 0;
  padding: .3rem 1rem;
  transform: translate(8px, 0);
  position: absolute;

  /* left: 100px;
  bottom: 100px; */

  max-width: 50em;
  overflow: hidden;
  justify-content: unset;
}

header {
  position: relative;
}

@media (min-width: 87.5em) {

  .banner {
    transform: translate(300px, 180px);
  }

}
